$componentName: customer-orders;

.#{$componentName} {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0 3rem;

    &__table {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

