<section class="catalogue__container">
  <h1>Nos produits</h1>

  <table mat-table [dataSource]="dataSource" class="catalogue__container__table">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Produit</th>
      <td mat-cell *matCellDef="let element">
        <img class="catalogue__container__table__image" [src]="element.image" [alt]="element.altText"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let element">{{ element.price }} $ CA</td>
    </ng-container>

    <ng-container matColumnDef="maxQty">
      <th mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-set aria-label="stock" lass="catalogue__container__table__stock">
          @if (element.maxQty <= 0) {
            <mat-chip class="catalogue__container__table__stock__negative">En rupture</mat-chip>
          } @else if (element.maxQty > 0 && element.maxQty <= 10) {
            <mat-chip class="catalogue__container__table__stock__limit">Dernières chances</mat-chip>
          } @else {
            <mat-chip class="catalogue__container__table__stock__positive">En stock</mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type | mapleSyrupType }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="onAddToCart(element)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-button color="primary" (click)="onRowClicked(element)">
          <mat-chip>Voir</mat-chip>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

